@import "./transition";
@import "./sidebar";
@import "./reset";
@import "./dark";

.app-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 70px);
  padding: 0 20px;
}

.search-container {
  padding: 24px 21px 0 20px;
  // margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  // border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  // box-shadow: var(--el-box-shadow-light);
  .el-form-item {
    display: flex;
    align-items: center;
    width: 100%;

    .el-form-item__label {
      font-size: 16px !important;
    }

    .el-form-item__content {
      .el-input__inner {
        height: 36px;
        font-size: 16px !important;
      }
    }
  }

  .control-btns {
    .el-form-item__content {
      display: flex;
      justify-content: flex-end;
    }
  }

  .el-button {
    height: 36px;
    padding: 0 20px;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none !important;

  .el-card__header {
    display: flex;
    align-items: center;
    height: 72px;
    border-bottom: none;

    .el-button {
      height: 36px;
      padding: 0 20px;
    }
  }

  .el-card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .el-table {
      flex-grow: 1;

      .el-table__header {
        tr {
          height: 48px;

          th {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #272a31;
            background: #f1f7fb !important;
          }
        }
      }

      .el-table__body {
        .el-table__row {
          height: 56px;
          background: #fff;
        }

        .el-table__row--striped td {
          background: rgb(241 247 251 / 50%) !important;
        }
      }

      .el-button {
        &.del-btn {
          color: #fa3434;
        }
      }
    }
  }
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

// el-tag 状态
.el-tag {
  &.car-status-tag {
    width: 64px;
    height: 32px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
  }

  &.statusTag- {
    // 待租赁
    &0 {
      color: #00a612;
      background-color: rgb(0 166 18 / 8%);
    }
    // 租赁中
    &1 {
      color: #3470ff;
      background-color: rgb(52 112 255 / 8%);
    }
    // 已预约
    &3 {
      color: #fa9034;
      background-color: rgb(250 138 52 / 8%);
    }
    // 已下架
    &2 {
      color: #fa3434;
      background-color: rgb(250 52 52 / 8%);
    }
  }
}

.el-calendar {
  .el-calendar-table .el-calendar-day {
    padding: 0;

    .calendar-cell {
      height: 100%;
      padding: 8px;
    }
  }

  // （0：待租赁，1：租赁中，2：已下架，3：已预约）
  .status- {
    // 待租赁
    &0 {
      background-color: #ebf9ed;
    }
    // 租赁中
    &1 {
      background-color: #f0f4ff;
    }
    // 已预约
    &3 {
      background-color: #fff6f0;
    }
    // 已下架
    &2 {
      background-color: #fff0f0;
    }
  }
}
